*{
    box-sizing: border-box;
}
.Group30{
    position: absolute;
    width: 1380px;
    height: 64px;
    left: 60px;
    top: 33px;

}
.img2{
   
    position: absolute;
width: 343px;
height: 64px;



background: url(image.png);
}
.frame23{
    display: flex;
flex-direction: row;
align-items: flex;
padding: 0px;
gap: 45px;
list-style: none;

position: absolute;
width: 479px;
height: 30px;
left: 586px;
list-style: none;
text-decoration: none;
justify-content: space-between;

}
.ul1 {
    display: flex;
    list-style: none;
    padding: 10px;
}
.ul1 li + li {
    padding-left: 45px;
    list-style: none;
    
}
.ul1  a {
    list-style: none;
    text-transform: uppercase;
    text-decoration: none;
    color: #333333;

}
.inputt{

    position: absolute;
    width: 270px;
    height: 40px;
    left: 1111px;
    top: 11px;
    border: 1px solid #A04955;
    border-radius: 50px;
    
}
.inputt1{
    position: absolute;
width: 192px;
height: 24.84px;





}
.but{
  
position: relative;
right: 18.61%;
top: 5px;


left: 30px;
right: 18.61%;




}
.input1{

position: absolute;
width: 167px;
height: 26px;
left: 60px;
top: 5px;
border: none;

font-family: 'Oswald';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;

color: #787878;
}
.text1{
    position: absolute;
    width: 500px;
    height: 95px;
    left: 395px;
    top: 152px;
    border: none;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 95px;


text-align: center;

color: #C4C4C4;
}
.rect1{
    position: absolute;
width: 985px;
height: 2px;
left: 395px;
top: 249px;

background: #C4C4C4;
transform: matrix(1, 0, 0, -1, 0, 0);
}
.imgD{
    
position: absolute;
left: 60px;

top: 190px;

}
.text2{
    text-decoration: none;
    
    position: absolute;
width: 53px;
height: 36px;
left: 100px;
top: 187px;

font-family: 'Oswald';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;

text-align: center;

color: #000000;

}
.imgZ{
    position: absolute;
left: 173px;

top: 195px;
}
.text3{
    text-decoration: none;
    
    position: absolute;
width: 75px;
height: 36px;
left: 197px;
top: 187px;

font-family: 'Oswald';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;


text-align: center;

color: #000000;
}
.rect37{
    position: absolute;
width: 1519px;
height: 2214px;
left: 0px;
top: 273px;

background: #F1F1F1;
}
.rect32{
    box-sizing: border-box;

position: absolute;
width: 315px;
height: 974px;
left: 60px;
top: 70px;

background: #FFFFFF;
border: 1px solid #A04955;
}
.text5-1{
    position: absolute;
width: 43px;
height: 36px;
left: 25px;
top: 25px;

font-family: 'Oswald';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 180.8%;
/* or 36px */

letter-spacing: 0.2em;

color: #000000;
}
.imgW{
    position: absolute;
left: 268px;
right: 41.25%;
top: 37px;

}
.rect32--1{
    position: relative;
    height: 188px;
    width: 313px;
}
.rect32-1{
    height: 95px;
    width: 260px;
    position: relative;
    top: 75px;
    left: 28px;
    
}
.rect32-1-9 {
    width: 40px;
    height: 40px;
    position: absolute;
    background: #F1F1F1;
    margin-right: 10px;
    

 

   
    
}









.rect32-1-1 input{
    width: 40px;
    height: 40px;
    position: absolute;
    left: -5px;
    top: -2px;
    background-color:  #F1F1F1;
}
.rect32-1-1 a {
    position: absolute;
    left: 10px;
    
    z-index: 3;
    top: 4px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    
    font-size: 20px;
    line-height: 180.8%;
}
.rect32-1-2{
    position: absolute;
width: 265px;
height: 1px;
left: 24px;
top: 100%;

background: #A04955;
}
.rect32--2{
    position: relative;
    height: 188px;
    width: 313px;

}
.text5-2{
    position: absolute;
width: 43px;
height: 36px;
left: 25px;
top: 20px;

font-family: 'Oswald';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 180.8%;


letter-spacing: 0.2em;

color: #000000;
}
.imgW1{
    position: absolute;
left: 268px;
right: 41.25%;
top: 33px;

}
.rect32-2{
    height: 95px;
    width: 260px;
    position: absolute;
    top: 70px;
    left: 28px;
  
}
.c1{
    display: none;
    
}
.c1-1::before{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    background-color:  #000000;
}
input[type="checkbox"]:checked + label::before {
    content: "✓";
    text-align: center;
    color: #ffeb11fa;
    font-weight: 500;
    font-size: 30px;
    mask-image: url();

}
.c2{
    display: none;
    
}
.c2-2::before{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    left: 55px;
    background-color: #744524;
}
.c3{
    display: none;
    
}
.c3-3::before{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    left: 110px;
    background: #113EB1;
}
.c4{
    display: none;
    
}
.c4-4::before{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    left: 165px;
    background: #549554;
}
.c5{
    display: none;
    
}
.c5-5::before{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    left: 220px;
    background: #808080;
}
.c6{
    display: none;
    
}
.c6-6::before{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    top: 55px;
    
    background: #E59500;
}
.c6{
    display: none;
    
}
.c7-7::before{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    top: 55px;
    left: 55px;
    background: #FFFFFF;
    border: 1px solid #A04955;

}
.hr{position: absolute;
    width: 265px;
    height: 1px;
    left: 27px;
    top: 80%px;
    
    background: #A04955;}

    .rect32--3{
        position: relative;
        width: 188px;
        height: 300px;
    }
    .ul3 {
        position: relative;
        width: 91px;
        height: 288px;
        left: 30px;
        top: 47px;
        
        font-family: 'Oswald';
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 180.8%;
        /* or 36px */
        
        
        color: #000000;
       
        
        
    }
    .ul4 {
        position: absolute;
        width: 91px;
        height: 288px;
        left: 30px;
        top: 77px;
        
        font-family: 'Oswald';
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 180.8%;
        /* or 36px */
        
        
        color: #000000}
        .ul5{
            position: absolute;
            width:  120px;
            height: 288px;
            left: 30px;
            top: 107px;
            
            font-family: 'Oswald';
            font-style: normal;
            font-weight: 300;
            font-size: 20px;
            line-height: 180.8%;
            
            color: #000000}
            .ul6{
                position: absolute;
                width:  120px;
                height: 288px;
                left: 30px;
                top: 137px;
                
                font-family: 'Oswald';
                font-style: normal;
                font-weight: 300;
                font-size: 20px;
                line-height: 180.8%;
                /* or 36px */
                
                
                color: #000000}
                .ul7{
                    position: absolute;
                    width: 120px;
                    height: 288px;
                    left: 30px;
                    top: 167px;
                    
                    font-family: 'Oswald';
                    font-style: normal;
                    font-weight: 300;
                    font-size: 20px;
                    line-height: 180.8%;
                    /* or 36px */
                    
                    
                    color: #000000
}
.ul8{
    position: absolute;
    width: 120px;
    height: 288px;
    left: 30px;
    top: 197px;
    
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 180.8%;
    /* or 36px */
    
    
    color: #000000
}
.ul9{
    position: absolute;
    width: 120px;
    height: 288px;
    left: 30px;
    top: 227px;
    
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 180.8%;
    /* or 36px */
    
    
    color: #000000}
.text5-3{
   
        position: absolute;
    width: 43px;
    height: 36px;
    left: 25px;
    top: 20px;
    
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 180.8%;
    
    
    letter-spacing: 0.2em;
    
    color: #000000;
}
.imgW3{
    position: absolute;
    left: 268px;
   
    top: 33px;
    
}
.hr1{
    position: absolute;
    width: 265px;
    height: 1px;
    left: 27px;
    top: 99%;
    
    background: #A04955;
}
.text5-4{
    position: absolute;
    width: 43px;
    height: 36px;
    left: 27px;
    top: 20px;
    
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 180.8%;
    
    
    letter-spacing: 0.2em;
    
    color: #000000;
}
.imgW4{
    position: absolute;
    left: 268px;
   
    top: 33px;

}
.rect32--4{
    position: relative;
    height: 80px;
    width: 313px;
}

.hr2{
    position: absolute;
    width: 265px;
    height: 1px;
    left: 27px;
    top: 99%;
    
    background: #A04955;
}
.rect32--5{
    position: relative;
    height: 80px;
    width: 313px;
}
.text5-5{
    position: absolute;
    width: 250px;
    height: 36px;
    left: 25px;
    top: 20px;
    
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 180.8%;
    letter-spacing: 0.2em;
    color: #000000;
}
.imgW5{
    position: absolute;
    left: 268px;
   
    top: 33px; 
}
.hr3{
    position: absolute;
    width: 265px;
    height: 1px;
    left: 27px;
    top: 99%;
    
    background: #A04955;
}
.rect32--6{
    position: relative;
    height: 80px;
    width: 313px;
}
.text5-6{
    position: absolute;
    width: 250px;
    height: 36px;
    left: 25px;
    top: 20px;
    
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 180.8%;
    letter-spacing: 0.2em;
    color: #000000;
}
.imgW6{
    position: absolute;
    left: 268px;
   
    top: 33px; 
}
.hr4{
    position: absolute;
    width: 265px;
    height: 1px;
    left: 27px;
    top: 99%;
    
    background: #A04955;}

.crel2{
        min-width: 315px;
    max-width: 315px;
height: 514px;
margin-right: 30px ;
margin-bottom: 20px;
background: #FFFFFF;
}



.rectNam{
    z-index: 3;
    
    display: flex;
    flex-wrap: wrap;
    width: 1035px;
    min-height: 1900;
    max-height: 2118px;
    left: 395px;
    top: 344px;
    position: absolute;
    }

    .rect32-1-9{
        display: none;
        font-family: 'Oswald';
    }
    .rect32-1-9-1::before{
        content: "";
        
        position: absolute;
        width: 40px;
        height: 40px;
        background: #F1F1F1;
    }
    .rect32-1-10{
        display: none;
        font-family: 'Oswald';

    }
    .rect32-1-10-1::before{
        content: "";
        margin-right: 10px;
    left: 55px; 
    top: 0px;
        position: absolute;
        width: 40px;
        height: 40px;
        background: #F1F1F1;
    }
    .rect32-1-10-1 a{
        left: 65px;
    }
    .rect32-1-11{
        display: none;
        font-family: 'Oswald';

    }
    .rect32-1-11-1::before{
        content: "";
        margin-right: 10px;
        width: 40px;
        height: 40px;
        position: absolute;
        background: #F1F1F1;
        top: 0px;
        left: 110px; 
    }
    .rect32-1-11-1 a{
        left: 120px ;
    }
    .rect32-1-12{
        display: none;
        font-family: 'Oswald';

    }
    .rect32-1-12-1::before{
        content: "";
        margin-right: 10px;
        width: 40px;
    height: 40px;
    position: absolute;
    background: #F1F1F1;
    left: 165px; 
    top: 0px;
    }
    .rect32-1-12-1 a{
        left: 175px ;
    }
    .rect32-1-13{
        display: none;
        font-family: 'Oswald';

    }
    .rect32-1-13-1::before{
        content: "";
        margin-right: 10px;
        width: 40px;
        height: 40px;
        position: absolute;
        background: #F1F1F1;
        left: 220px; 
        top: 0px;
    }
    .rect32-1-13-1 a{
        left: 230px ;
    }
    .rect32-1-14{
        display: none;
        font-family: 'Oswald';

    }
    .rect32-1-14-1::before{
        content: "";
        margin-right: 10px;
        width: 40px;
        height: 40px;
        position: absolute;
        background: #F1F1F1;
        left: 0px; 
        top: 55px;
    }
    .rect32-1-14-1 a{
        top: 55px;;
    }
    .rect32-1-15{
        display: none;
        font-family: 'Oswald';

    }
    .rect32-1-15-1::before{
        content: "";
        margin-right: 10px;
        width: 40px;
    height: 40px;
    position: absolute;
    background: #F1F1F1;
    left: 55px; 
    top: 55px;
    }
    .rect32-1-15-1 a{
        top: 55px;;
        left: 65px;
    }
    .rect32-1-16{
        display: none;
        font-family: 'Oswald';

    }
    .rect32-1-16-1::before{
        content: "";
        margin-right: 10px;
        width: 40px;
        height: 40px;
        position: absolute;
        background: #F1F1F1;
        left: 110px; 
        top: 55px;
    }
    .rect32-1-16-1 a{
        top: 55px;;
        left: 120px;
    }
    .rect32-1-17{
        display: none;
        font-family: 'Oswald';

    }
    .rect32-1-17-1::before{
        content: "";
        margin-right: 10px;
        width: 40px;
        height: 40px;
        position: absolute;
        background: #F1F1F1;
        left: 165px; 
        top: 55px;
    }
    .rect32-1-17-1 a{
        top: 55px;;
        left: 175px;
    }
.bottoms{
    display: flex;
    flex-wrap: wrap;
    width: 1035px;
    min-height: 1900;
    max-height: 2118px;
    left: 395px;
    top: 344px;
    position: absolute;
    }
.search{
    z-index: 4;
    
    display: flex;
    flex-wrap: wrap;
    width: 1035px;
    min-height: 1900;
    max-height: 2118px;
    left: 395px;
    top: 344px;
    position: absolute;
}
.notFound{
    z-index: 99;
    
    display: flex;
    flex-wrap: wrap;
    width: 1035px;
    min-height: 1900;
    max-height: 2118px;
    left: 395px;
    top: 344px;
    position: absolute;
}
.notFound a{
   
   position: absolute;
   font-size: 50px;
   color: #787878;
   left: 10%;
   top: 5%;
   font-family: 'Oswald';
font-style: normal;

}
.input1-1{
    display: flex;
    flex-wrap: wrap;
    width: 1035px;
    min-height: 1900;
    max-height: 2118px;
    left: 395px;
    top: 344px;
    position: absolute;
}










    











.round{
    
    position: absolute;
    width: 83px;
    height: 83px;
    left: 1297px;
    top: 2045px;
    z-index: 3;
    text-decoration: none;
    
    border-radius: 50px;
    background: #A04955;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .img8{
    text-transform: none;
    
    position: absolute;
    width: 30px;
    
    left: 28px;
    top: 20px;
    
    
    
    }
    @keyframes bounce {
        0%, 20%, 60%, 100% {
            transform: translateY(0);
            transform: translateY(0);
        }
    
        40% {
            transform: translateY(-20px);
            transform: translateY(-20px);
        }
    
        80% {
            transform: translateY(-10px);
            transform: translateY(-10px);
        }
    }
    
    
    
    .round:hover {
        animation: bounce 1s;
    }
.n1{
        position: absolute;
        width: 35px;
        height: 35px;
        left: 1245px;
        top: 2164px;
        z-index: 3;
        background: #A04955;
    }
.n1 a {
        position: absolute;
        width: 8px;
        height: 36px;
        left: 14px;
        top: 1px;

        font-family: 'Oswald';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 180.8%;



        color: #FFFFFF;

}
.n2{
    position: absolute;
width: 34px;
height: 34px;
left: 1295px;
top: 2164px;
z-index: 3;
background: #F1F1F1;
border: 1px solid #A04955;
}
.n2 a {
    position: absolute;
    width: 10px;
    height: 36px;
    left: 14px;
    top: 1px;
    
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 180.8%;
    /* or 36px */
    
    
    color: #A04955;
}
.n3{
    position: absolute;
    width: 34px;
    height: 34px;
    left: 1345px;
    top: 2164px;
    z-index: 3;
    background: #F1F1F1;
    border: 1px solid #A04955;
}
.n3 a {
    position: absolute;
    width: 10px;
    height: 36px;
    left: 14px;
    top: 1px;
    
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 180.8%;
    /* or 36px */
    
    
    color: #A04955;
}
.ccrel{

    display: flex;
    flex-wrap: wrap;
    width: 1035px;
    height: 2118px;
    left: 395px;
    top: 344px;
    position: absolute;
   
  
    
   

}
.crel{

    min-width: 315px;
    max-width: 315px;
height: 514px;
margin-right: 30px ;
margin-bottom: 20px;
background: #FFFFFF;
    
    
    
    
    
    
}
.mrel{
   
width: 232px;
height: 232px;
left: 42px;
top: 42px;
 position: relative;

}
.rrel{
    position: relative;
   min-width: 170px;
   height: 30px;
   top: 40px;
   
font-family: 'Oswald';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
/* identical to box height */

text-align: center;

color: #000000;
}
.lrel{
    position: relative;
width: 24.36px;
height: 24.36px;
left: 83px;
top: 50px;


}
.lerel{
    position: relative;
width: 24.36px;
height: 24.36px;
left: 90px;
top: 50px;


}
.lurel{
    position: relative;
width: 24.36px;
height: 24.36px;
left: 95px;
top: 50px;
}
.lirel{
    position: relative;
width: 24.36px;
height: 24.36px;
left: 100px;
top: 50px;
}
.lyrel{
    position: relative;
width: 24.36px;
height: 24.36px;
left: 105px;
top: 50px;
}
.larel{
    position: relative;
width: 24.36px;
height: 24.36px;
left: 110px;
top: 50px;
}
.tex{
    position: relative;
width: 180px;
height: 27px;
left: -19px;
top: 77px;

font-family: 'Oswald';
font-style: normal;
font-weight: 200;
font-size: 18px;
line-height: 27px;
/* identical to box height */

text-align: center;

color: #333333;
}
.imgf{
    position: relative;
width: 181px;
height: 29px;
left: 67px;
top: 90px;

background: url(image.png);
}
.divv{position: relative;
    width: 130px;
    height: 35px;
    left: 93px;
    top: 110px;
    
    background: #A04955;}

.intt{
    position: relative;
width: 100px;
height: 27px;
left: 24px;
top: 4px;

font-family: 'Oswald';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;
border: none;
text-align: center;
color: #FFFFFF;
background: #A04955;



}
.imgr{
    position: relative;
left: -95px;
top: 5px;
}
.rectt{
    display: flex;
    flex-wrap: wrap;
    width: 1035px;
    min-height: 1900;
    max-height: 2118px;
    left: 395px;
    top: 344px;
    position: absolute;
}
.rect-c1{
    display: flex;
    flex-wrap: wrap;
    width: 1035px;
    min-height: 1900;
    max-height: 2118px;
    left: 395px;
    top: 344px;
    position: absolute;
}


.crel3{
    
        min-width: 315px;
    max-width: 315px;
height: 514px;
margin-right: 30px ;
margin-bottom: 20px;
background: #FFFFFF;
}




.rec16{
    position: absolute;
width: 1518px;
height: 420px;
left: 0px;
top: 2487px;

background: #A04955;
}
.text22{
    position: absolute;
width: 235px;
height: 25px;
left: 60px;
top: 2917px;

font-family: 'Oswald';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 180.8%;


display: flex;
align-items: center;

color: rgba(0, 0, 0, 0.5);
}
.Text19-1{
    position: absolute;
width: 223px;
height: 320px;
left: 0px;
top: 50px;

font-family: 'Oswald';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 180.8%;
color: #FFFFFF;


}
.Text19-2{
position: absolute;
width: 179px;
height: 320px;
left: 265px;
top: 50px;

font-family: 'Oswald';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 180.8%;



color: #FFFFFF;
}
.Text19-3{
position: absolute;
width: 165px;
height: 320px;
left: 486px;
top: 50px;

font-family: 'Oswald';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 180.8%;



color: #FFFFFF;}
.Text19-4{
    position: absolute;
width: 627px;
height: 140px;
left: 693px;
top: 50px;

font-family: 'Oswald';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 180.8%;



color: #FFFFFF;
}
.BorderFul{
    position: absolute;
width: 515px;
height: 61px;
left: 800px;
top: 210px;

background: #F3F3F3;
}
.email{
    position: absolute;
width: 180px;
height: 30px;
left: 25px;
top: 14px;
border: none;
font-family: 'Oswald';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 180.8%;
/* identical to box height, or 33px */

display: flex;
align-items: center;

background: #F3F3F3;
color: #A04955;


}
.div1{position: absolute;
    width: 167px;
    height: 43px;
    left: 339px;
    top: 9px;
    
    background: #A04955;}
.btn22{
    position: absolute;
    width: 85px;
    height: 33px;
    left: 45px;
    top: 5px;
    
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 180.8%;

    
    display: flex;
    align-items: center;
    border: none;
    background: #A04955;
    color: #F3F3F3;
}




